<% include partials/top %>

<div class="container">

  <h1 class="text-center">Edit Item</h1>

  <form class="form mb-2" action="/items/<%= item._id %>?_method=PATCH" method="POST">
    
    <div class="form-group">  
      <label for="name">Item Name</label>
      <input class="form-control" type="text" name="name" value="<%= item.name %>" placeholder="Item Name..." required>
    </div>

    <button class="btn btn-outline-dark btn-block">Edit Item</button>

  </form>

</div>

<% include partials/bottom %>
