<% include partials/top %>

<div class="container">

  <h1 class="text-center">Inventory</h1>

  <a href="/items/new" class="btn btn-outline-dark btn-block">New Item</a>

  <a href="/login" class="btn btn-outline-dark btn-block">Login</a>

  <a href="/signup" class="btn btn-outline-dark btn-block">Signup</a>

</div>

<% include partials/bottom %>
