<% include partials/top %>

<div class="container">

  <h1>Item List</h1>
  
  <a href="/items/new" class="btn btn-outline-dark btn-block">New Item</a>

  <table class="table mt-3">
    
    <thead class="thead-dark">
      
      <tr>
        
        <th>Item Id</th>
        <th>Name</th>

      </tr>

    </thead>

    <tbody>

      <% items.forEach((item) => { %>

      <tr>
      
        <th>
          <a href="/items/<%= item._id %>">
            <%= item._id %>
          </a>
        </th>
        <th>
          <a href="/items/<%= item._id %>">
            <%= item.name %>
          </a>
        </th>

      </tr>
      <% }) %>

    </tbody>

  </table>  

</div>



<% include partials/bottom %>
