<% include partials/top %>

<div class="container">

  <h1 class="text-center">New Item</h1>

  <form class="form mb-2" action="/items" method="POST">
    
    <div class="form-group">  
      <label for="name">Item Name</label>
      <input class="form-control" type="text" name="name" placeholder="Item Name..." required>
    </div>

    <div class="form-group">  
      <label for="model">Model Number</label>
      <input class="form-control" type="text" name="model" placeholder="Model Number..." required>
    </div>

    <div class="form-group">  
      <label for="serial">Serial Number</label>
      <input class="form-control" type="text" name="serial" placeholder="Serial Number..." required>
    </div>

    <button class="btn btn-outline-dark btn-block" type="submit">Create Item</button>

  </form>

</div>

<% include partials/bottom %>
