<% include partials/top %>

<div class="container">

  <h1>Profile</h1>

  <table class="table">
    
    <thead class="thead-dark">
      
      <tr>
        
        <th>Email</th>

      </tr>

    </thead>

    <tbody>

      <tr>
        
        <th><%= user.email %></th>

      </tr>

    </tbody>

  </table>

  <a href="/items" class="btn btn-outline-dark btn-block">View Items</a>

  <a href="/users/<%= user._id %>/edit/" class="btn btn-outline-dark btn-block">Edit User</a>

  <form class="mt-2" id="delete" action="/users/<%= user._id %>?_method=DELETE" method="POST">

    <button type="submit" class="btn btn-block btn-outline-danger">Delete User</button>

  </form>

</div>



<% include partials/bottom %>
