<% include partials/top %>

<div class="container">

  <h1>User List</h1>

  <table class="table">
    
    <thead class="thead-dark">
      
      <tr>
        
        <th>User Id</th>
        <th>Email</th>

      </tr>

    </thead>

    <tbody>
      
      <% users.forEach((user) => { %>
      <tr>
      
        <th>
          <a href="/users/<%= user._id %>">
            <%= user._id %>
          </a>
        </th>
        
        <th>
          <a href="/users/<%= user._id %>">
            <%= user.email %>
          </a>
        </th>

      </tr>
      <% }) %>

    </tbody>

  </table>

</div>



<% include partials/bottom %>
